# ros2 workspace
build/
install/
log/
.colcon_ignore
.colcon_release

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*

# Models/datasets 
*.pt
*.onnx
videos/
datasets/
results/
runs/
uploads/
media/
tmp/
cache/
*.log
*.bag

# Editors/ OS
.DS_Store
.vscode/
.idea/

# Node/js
node_modules/
dist/
build/
.next/
out/

# Tests
coverage/
.pytest_cache/
src/image_pipeline/
